.mt h2{
	font-size: 15px;
	font-weight: normal;
	color: #333;
}
h1{
	font-size: 20px;
	font-weight: normal;
}
.Categorys-bd{
	display: none;
}
.Categorys-bd li h3, .Categorys-hd h2{
	border: none;
}
.crumb{
	padding: 8px 5px;
}
.right-extra h1{
	color: #666;
	font: 700 24px/40px "microsoft yahei";
}
#refilter{
	width: 208px;
	border: 1px solid #ddd;
	border-top: 2px solid #999;
}
.mt{
	height: 31px;
	padding-left: 8px;
	background: #f7f7f7;
	line-height: 31px;
}
.mc{
	width: 208px;
}
#refilter .item ul{
	overflow: hidden;
	padding: 4px 0 4px 34px;
	border-top: 1px solid #ddd;
	zoom:1;
}
#refilter .item li{
	height: 24px;
	padding: 0px 4px 0px 0;
	overflow: hidden;
}
#refilter .item li a{
	padding: 0 2px 2px;
}
.table-list{
	position: relative;
	margin-top: 10px;
}
.table-list table{
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.table-list thead th{
	background: #f5f5f5;
	color: #444;
	display: table-cell;
	line-height: 36px;
}
.table-list th{
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 1px 5px;
}
th.th01,td.th01{
	width: 90px;
}
th.th03,td.th03{
	width: 300px;
}
th.th05,td.th05{
	width: 60px;
}
.table-list .tb01 div{
	width: 130px;
	word-wrap:break-word;
	white-space: normal;
	line-height: 20px;
}
tr.tr01{
	background: #fff;
}
tr.tr02{
	background: #fafafa;
}
.table-list td{
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 1px 5px;
	line-height: 20px;
	vertical-align: middle;
}
.more-ms{
	overflow: hidden;
}
.lt{
	float: left;
}
.rt{
	float: right;
}
.lt-r{
	margin-left: 30px;
	color: #62b23f;
}
.buy-button{
	text-align: center;
}
.buy{
	padding: 8px 15px;
	color: #fff;
	background: #62b23f;
	border-radius: 2px;
}
.buy:hover{
	color: #fff;
}
.pages-container{
	overflow: hidden;
}
.pages{
	padding: 10px 0;
	line-height: 25px;
	height: 25px;
}
.pages a,.pages span{
	margin: 0 2px;
	padding: 5px 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.pages .page-skip{
	margin-left: 5px;
	border: none;
}
.pages span.page-prev,.pages span.page-next,.pages span.page-first,.pages span.page-last{
	color: #bbb;
}
/*js控制显示方式*/
.pages a.page-first,.pages a.page-prev,.pages span.page-next,.pages span.page-last{
	display: none;
}
.pages .page-cur{
	background: none;
	padding: 0 10px;
	border: none;
}
.pages em{
	padding: 0 2px;
	color: #fc5e17;
	font-weight: bold;
}