a:hover{
	color: rgb(16,183,140)!important;
}
.reg-mc{
	border:3px solid #dedede;
	width:984px!important;
	padding:30px 0;
}
.hd-link{
	float: right;
	margin-top: 40px;
}
.kd-link a{
	color: #0000cc;
}
.logo{
	margin-left: 0!important;
}
.register-from > span{
	color: #333;
	font-size: 14px;
	padding-left: 30px;
}
.form{
	margin-top: 30px;
}
.form .text{
	float: left;
}
.register-from .label{
	width: 190px;
	height: 38px;
	line-height: 38px;
	padding-right: 10px;
	color: #999;
	font-size: 14px;
	float: left;
	text-align: right;
}
.register-from .item span em{
	margin-right: 5px;
	color: #f00;
	font-size: 12px;
	font-weight: 700;
	vertical-align: middle;
}
.register-from .item{
	position: relative;
	margin-top: 5px;
	font-size: 12px;
	height: 64px;
	line-height: 40px;
}
.register-from .item-ifo{
	float: left;
}
.register-from .text{
	padding: 6px 20px 6px 3px;
	width: 238px;
	height: 24px;
	line-height: 24px;
	border:1px solid #ccc;
	font-size: 14px;
	font-family: arial,"宋体";
}
.register-from .text-1{
	width: 100px;
	float: left;
}
.autoimg{
	margin-left: 10px;
	float: left;
}
.autoimg img{
	width: 100px;
	height: 38px;
}
.regist-btn .btn-entry{
	width: 263px;
	height: 38px;
	line-height: 1000px;
	background-image: url(../image/regist.jpg);
	background-repeat: no-repeat;
	border-radius: 4px;
	border:none;
	cursor: pointer;
}
.regist-btn .btn-entry:hover{
	background-position: 0 -39px;
}
footer{
	border: none!important;
}